<!-- Shows the routes for a specific agency as links -->

<p> List </p>

<% @route_results["RTT"]["AgencyList"]["Agency"]["RouteList"]["Route"].each do |route| %>
  <div class="row">
   <!-- Want "route code" sent to params hash and "route name" displayed as link title -->

   <%= link_to route["Name"], stops_path("BART", route["Code"]) %>

  </div>
<% end %>
