<!-- List of links to all agencies -->
<p> List </p>

<% @results.each do |agency| %>
  <div class="row">
     <div class="col-md-4 col-sm-4">
      <p class="lead">
      	<p>Page!</p>
    </div>
  </div>
<% end %>

