<!-- List of links to all agencies -->
<p> List </p>

<% @results["RTT"]["AgencyList"]["Agency"].each do |agency| %>
  <div class="row">
   
   <%= link_to agency["Name"], agency["Name"] %>
   
  </div>
<% end %>


<!-- link_to "Text", URL -->


