<!-- Lists all agencies running as a link -->
<p> List </p>


<div class="btn-group btn-input clearfix">
  <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
    <span data-bind="label">Select an Agency</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <!-- Display the agency names and pass to params hash -->
    <% @results["RTT"]["AgencyList"]["Agency"].each do |agency| %>
      <li><a href ="/agencies/<%= agency['Name'] %>"><%= agency['Name'] %></a></li>
    <% end %>
  </ul>
</div>

<!-- NOTES: link_to "Title", new_my_service_path(:account_id => http://acct.id) -->
