<!-- Lists all agencies running as a link -->
<p> List </p>

<% @results["RTT"]["AgencyList"]["Agency"].each do |agency| %>
  <div class="row">
   
   <%= link_to agency["Name"], agency["Name"] %>
   
  </div>
<% end %>


<!-- NOTES: SYNTAX link_to "Text", URL -->


